body{
    background-color:darkgrey;
}
.container{
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}
.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis:content;
    display: flex;
    flex-wrap: wrap;
  
}

.disp{
    background-color: white;
    outline: 2px solid #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.navi{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 6px 6px 6px 6px;
}
a{
    margin: 2px 2px 2px 2px;
}
.nav{
    display: flex;
    justify-content: space-around;
}

.right{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
}
button{
    margin: 2px 2px 2px 2px;
}
.inst{
    display: flex;
    justify-content: center;
}
.button-disp{
    margin-top: 50px;
}
.table-name{
    display: flex;
    justify-content: center;
}
.buttonD{
    background-color: green;
    border-color: green;
    width: 200px;
}
.buttonDstud{
    background-color: green;
    border-color: green;
}
